{
    "parser": "typescript",
    "arrowParens": "avoid",
    "trailingComma": "all",
    "tabWidth": 4,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "printWidth": 120,
    "bracketSameLine": true,
    "semi": true,
    "useTabs": false,
    "endOfLine": "lf",
    "overrides": [
        {
            "files": "*.css",
            "options": {
                "parser": "css"
            }
        }
    ],
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^@avito/(.*)$",
        "^@core/(.*)$",
        "^@server/(.*)$",
        "^@ui/(.*)$",
        "^[./].*(?<!\\.css)$",
        "^[./].*(\\.css)$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}